/* src/Bookshelf.css */
.bookshelf {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.collection {
    margin: 20px;
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.book img {
    width: 100px;
    /* Adjust based on your preference */
    height: 150px;
    /* Adjust based on your preference */
    margin: 10px;
}